*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color-main);
}

/**
 * Hide the content, but make sure it is still visible to VoiceOver and roughly the right place in the UI.
 * Note: we cannot use `visibility: hidden` and this must have a size for VoiceOver on iOS.
**/

.VisuallyHidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
  /* Replacing focus outline with a consistent box-shadow */
  box-shadow: 0 0 5px 4px var(--box-shadow-color);
  outline: none;
}
