.Dog {
  border-radius: 20px 20px 20px 0;
  inline-size: 400px;

  &.link {
    border-radius: 20px 20px 20px 0;
    display: block;
    inline-size: 400px;
    text-decoration: none;
  }

  &.link img,
  &.image {
    block-size: 250px;
    border-radius: 20px;
    box-shadow:
      0 0 2px 0 rgba(0, 0, 0, 0.12),
      0 8px 16px 0 rgba(0, 0, 0, 0.14);
    inline-size: 400px;
    object-fit: cover;
    transition: box-shadow 200ms ease;
  }

  .name {
    align-items: flex-end;
    block-size: 41px;
    color: var(--text-color-dark-default);
    display: flex;
    font-size: 24px;
    inline-size: 400px;
    margin: 0;
    text-transform: capitalize;
  }

  &:hover.link img,
  &:focus-within.link img {
    box-shadow: 0 2px 18px rgb(0 0 0 / 80%);
    transition: box-shadow 200ms ease;
  }
}
